.menu {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: auto;
}

.menu a {
  color: black;
  padding: 10px;
}

.menu ul {
  display: inline-flex;
  flex-flow: row;
  align-content: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo p {
  margin-left: 10px;
}
