.menu {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid black;
  width: 100%;
}

.menu a {
  color: black;
  padding: 10px;
}

.menu nav {
  display: inline-flex;
  flex-flow: row;
  align-content: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo p {
  margin-left: 10px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px
}

.column.small {
  width: 240px;
}
